* {
	box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

h1 { font-size:24px; text-transform:uppercase;  color:#666; }
h2 { font-size:16px; margin-bottom:2px;}
p { margin-top:6px;margin-bottom: 1rem; }

img {
  vertical-align: middle;
  border-style: none; padding: 0 0 6px;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}



.topnav {
	overflow: hidden;
	background-color: #333;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}


.content {
  padding: 10px 40px;
}

.footer {
  background-color: #f1f1f1;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%
}

.active {
	background-color: #999999;
}

.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.blockquote-footer {
  display: block;
  font-size: 80%;
  color: #6c757d;
}

.blockquote-footer::before {
  content: "\2019\00A0";
}

.text-center {text-align:center;}
.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.error {
    color: red;
}

.correct {
    color: green;
}